.pokemon-card{
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.pokemon-card .card-top{
    padding: 30px 40px 0;
}

.pokemon-card .name{
    margin-bottom: 5px;
    text-transform: capitalize;
}

.pokemon-card .type{
    font-size: 17px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 15px;
    padding: 2px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-transform: capitalize;
}

.pokemon-card .details{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card .card-image{
    width: 350px;
    height: 350px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: rgba(51, 51, 53, 0.2) 0px 7px 29px 0px;
}

.pokemon-card .card-image img{
    max-height: 100%;
    height: 400px;
    transition: 0.3s ease-in-out;
}

.pokemon-card .card-image img:hover{
    transform: scale(1.08);
}

.pokemon-card .card-info{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px 30px 30px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pokemon-card .card-info h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #68727a;
}

.pokemon-card .card-info .status,
.pokemon-card .card-info .skills{
    padding: 0 10px;
    width: 180px;
}

.pokemon-card .card-info ul{
    padding: 0;
}

.pokemon-card .card-info ul li{
    padding: 0 0 5px;
    font-size: 15px;
}

.pokemon-card .card-info .skills-list{
    text-transform: capitalize;
}

.pokemon-card.show{
    display: block;
}

.type-fire{
    background-color: #ff9054;
}

.type-water{
    background-color: #76befe;
}

.type-grass{
    background-color: #49d0b0;
}

.type-normal{
    background-color: #a4acaf;
}

.type-electric{
    background-color: #fccf19;
}

.type-fighting{
    background-color: #9f501f;
}

.type-poison{
    background-color: #b97fc9;
}

.type-bug{
    background-color: #729f3f;
}

.type-ground{
    background-color: #d4ba46;
}

.type-fairy{
    background-color: #fdb9e9;
}

.type-psychic{
    background-color: #f366b9;
}

.type-rock{
    background-color: #ab9842;
}

.type-ghost{
    background-color: #7b62a3;
}

.type-ice{
    background-color: #51c4e7;
}

.type-dragon{
    background-color: #f95e43;
}