body{
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    background-color: #c5d8fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex{
    display: flex;
    gap: 35px;
}

