@media (max-width: 750px) {
    body{
        font-size: 12px;
    }

    .pokedex{
        flex-direction: column;
        padding: 30px 0;
    }

    .pokemon-card{
        max-width: 300px;
    }

    .pokemon-card .card-image{
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .pokemon-card .type{
        font-size: 13px;
    }

    .pokemon-card .card-info{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .pokemon-card .card-info .status ul li, .pokemon-card .card-info .skills p{
        font-size: 13px;
    }

    .pokemon-card .card-info h3{
        font-size: 16px;
    }

    .pokemon-list{
        max-width: 300px;
    }

    .pokemon-list ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        flex-direction: row;
    }

    .pokemon-list .pokemon{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 5px;
        border-radius: 8px;
    }

    .pokemon-list .pokemon span{
        padding-right: 5px;
    }

    .pokemon-list{
        height: 80vh;
     }
   
}